<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Swasth</title>
    <!-- <link rel="stylesheet" href="/public/css/styles.css" /> -->
    <link rel="stylesheet" href="/css/tailwind.css" />
  </head>
  <body>
    <div class="bg-white flex justify-around">
      <div class="right bg-gray-300 h-[100vh] w-[100vh] px-9">
        <p class="mx-3 my-10">SWASTH</p>
        <P class="mx-[14vh] my-2 font-bold text-6xl">Welcome Back</P>
        <p class="mx-[27vh] my-[10vh] text-lg">Signin to your Account</p>
        <button
          class="mx-[33vh] px-2 py-1 border border-black rounded-2xl hover:bg-white"
        >
          <a href="/signin" class="text-xl no-underline text-black">Signin</a>
        </button>
      </div>

      <div class="left bg-gray-200 h-[100vh] w-[100vh]">
        <p class="mx-[24vh] my-[10vh] text-7xl">New Here?</p>
        <p class="mx-[26vh] text-lg">Signup & Discover your Health Status</p>
        <button
          class="mx-[40vh] my-[6vh] px-2 py-1 border border-black rounded-2xl hover:bg-white"
        >
          <a href="/signup" class="text-xl no-underline text-black">Signup</a>
        </button>
      </div>
    </div>
  </body>
</html>
